.contactform{
    padding: 60px 60px;
    background-color: #eae8e8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.formleftpart,.formrightpart{
    padding: 30px;
    margin: 10px 0;
    width: 600px;
}

@media (min-width: 320px) and (max-width: 480px){
    .contactform{
        padding: 50px 0;
        display: block;
    }
    .formleftpart,.formrightpart{
        width: inherit;
    }
}